@using Domain.Models
@model Project

<div class="project-card">
	<div class="card-header">
		<div class="project-icon">
			<img class="project-alpha-image" src="~/Images/Vector 6.svg"/>
		</div>
		<div class="card-title">
			<h2>@Model.ProjectName</h2>
			<span>@Model.ClientName</span>
		</div>
		<div class="project-menu-container dropdown-container">
			<button type="button" class="btn-project-menu" data-type="dropdown" >
				<i class="fa-solid fa-ellipsis-vertical project-menu"></i>
			</button>
			<div class="dropdown dropdown-edit">
					<button type="button" class="btn-edit-project" 
							data-modal="true"
							data-url="@Url.Action("EditProject", "Project", new { id = Model.Id })">
						<i class="fa-solid fa-pen-to-square"></i>
						<span>Edit</span>
					</button>
				<button class="btn-add-member">
					<i class="fa-solid fa-user-plus"></i>
					<span>Add Member</span>
				</button>
				<div class="divider-line">

				</div>
				<form asp-action="DeleteProject" asp-controller="Project" method="post">
					<input type="hidden" name="id" value="@Model.Id" />	
					<button class="btn-delete">
						<i class="fa-solid fa-trash-can"></i>
						<span>Delete</span>
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="card-description">
		<p>@Model.ProjectDescription</p>
	</div>
	<div class="card-footer">
		<div class="project-time-left">
			<i class="fa-solid fa-clock"></i>
			<span>@Model.DaysLeft Days Left</span>
		</div>
		<div>
			@foreach (var name in Model.TeamMemberNames)
			{
				<span class="team-member">@name</span>
			}
		</div>		
	</div>
</div>
